<mat-toolbar color="primary">
  <span>POS Cafe Dashboard</span>
  <span class="spacer"></span>
  <span class="username"> {{ user?.name }}</span>
  <button mat-button color="warn" (click)="logout()">ล็อกเอาต์</button>
</mat-toolbar>

<div class="container">

  <!-- ห่อยอดขายวันนี้, สัปดาห์นี้, เดือนนี้ ไว้ในกลุ่มเดียวกัน -->
  <div class="sales-summary-group">
    <mat-card class="summary-card">
      <mat-card-title>ยอดขายวันนี้</mat-card-title>
      <mat-card-content><h2>฿{{ todaySales | number }}</h2></mat-card-content>
    </mat-card>

    <mat-card class="summary-card">
      <mat-card-title>ยอดขายสัปดาห์นี้</mat-card-title>
      <mat-card-content><h2>฿{{ weekSales | number }}</h2></mat-card-content>
    </mat-card>

    <mat-card class="summary-card">
      <mat-card-title>ยอดขายเดือนนี้</mat-card-title>
      <mat-card-content><h2>฿{{ monthSales | number }}</h2></mat-card-content>
    </mat-card>
  </div>

<div class="top-products-wrapper">
  <!-- สินค้าขายดีวันนี้ -->
  <mat-card class="summary-card top-products-card">
    <mat-card-title>สินค้าขายดีวันนี้</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let p of todayTop">
        <mat-icon color="primary"></mat-icon>
        <span>{{ p.name }} - {{ p.totalsold }} ชิ้น</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <!-- สินค้าขายดีสัปดาห์นี้ -->
  <mat-card class="summary-card top-products-card">
    <mat-card-title>สินค้าขายดีสัปดาห์นี้</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let p of weekTop">
        <mat-icon color="primary"></mat-icon>
        <span>{{ p.name }} - {{ p.totalsold }} ชิ้น</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <!-- สินค้าขายดีเดือนนี้ -->
  <mat-card class="summary-card top-products-card">
    <mat-card-title>สินค้าขายดีเดือนนี้</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let p of monthTop">
        <mat-icon color="primary"></mat-icon>
        <span>{{ p.name }} - {{ p.totalsold }} ชิ้น</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

