<div class="login-container">
  <h2>เข้าสู่ระบบ</h2>
  
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">ชื่อผู้ใช้</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required />
    </div>

    <div class="form-group">
      <label for="password">รหัสผ่าน</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>

    <div class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button type="submit">เข้าสู่ระบบ</button>
  </form>
</div>
