<nav [class.collapsed]="isCollapsed" class="sidebar">
  <!-- Toggle Button -->
  <button (click)="toggleSidebar()" class="toggle-btn">
    <span *ngIf="!isCollapsed">⬅️</span>
    <span *ngIf="isCollapsed">➡️</span>
  </button>

  <!-- Menu Links -->
  <a routerLink="/dashboard" class="menu-item">
    🧭
    <span *ngIf="!isCollapsed">Dashboard</span>
  </a>
  <a routerLink="/menu" class="menu-item">
    📋
    <span *ngIf="!isCollapsed">Menu</span>
  </a>
  <a routerLink="/report" class="menu-item">
    📊
    <span *ngIf="!isCollapsed">Report</span>
  </a>
    <a routerLink="/adminmenu" class="menu-item">
    🛒
    <span *ngIf="!isCollapsed">AddMenu</span>
  </a>
</nav>
