nav {
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
.sidebar {
  width: 240px;
  background-color: #333;
  color: #fff;
  height: 100vh; /* เต็มจอ */
  position: fixed; /* ทำให้ sidebar อยู่คงที่ */
  top: 0;
  left: 0;
  overflow-y: auto; /* เลื่อนดูได้ถ้าเนื้อหามากเกินไป */
}